apache-airflow[gcp,postgres]==2.5.1      # similar to `composer-2.1.14-airflow-2.5.1`
google-api-core==2.8.1                      # matches `composer-2.1.14-airflow-2.5.1`
google-cloud-bigquery==2.34.4               # matches `composer-2.1.14-airflow-2.5.1`
google-cloud-storage==2.7.0                 # matches `composer-2.1.14-airflow-2.5.1`
