jsonschema==3.2.0       # matches `composer-2.1.14-airflow-2.5.1`
pendulum~=2.0.0         # pendulum.tz.timezone is removed in pendulum 3.0.0 which causes TypeError: 'module' object is not callable
pytest
